COORDINATOR_LISTEN=127.0.0.1:8091
COORDINATOR_API_URL=http://127.0.0.1:8091

TAP_TRANSPORT=grpc
TAPD_HOST=localhost:10029
TAPD_REST_URL=https://localhost:8089
TAPD_NETWORK=regtest
TAPD_TLS_PATH=.tapd/alice/tls.cert
TAPD_MACAROON_PATH=.tapd/alice/admin.macaroon
TAPD_TLS_INSECURE=false
